.theme-dark {
  --text: #dfdfd7;
  --text-second: #9999a0;
  --text__hover: #eeeeed;

  --bg: #1b1b1f;
  --bg-menu__hover: hsla(0, 0%, 100%, 0.05);
  --bg-main: #161616;

  --border: #424449;
  --box-border: #425aef;

  --theme-bg: #292c33;
  --theme-border: #7c8899;
  --theme-select: #2e4068;

  --mask-window: rgba(0, 0, 0, 0.2);

  --divider: #2e2e32;
}
