.theme-light {
  --text: #000000;
  --text-second: #3c3c43cc;
  --text__hover: #010101;

  --bg: #f8f9fe;
  --bg-menu__hover: rgba(0, 0, 0, 0.03);
  --bg-main: #ffffff;

  --border: #e3e8f7;
  --box-border: #425aef;

  --theme-bg: #cedbf4;
  --theme-border: #8cace5;
  --theme-select: #ffffff99;

  --mask-window: rgba(0, 0, 0, 0.05);

  --divider: #e2e2e3;
}
