@for $i from 1 through 9 {
  .flex-#{$i} {
    flex: $i;
  }
  .fw-#{$i * 100} {
    font-weight: $i * 100;
  }
  .ellipsis-#{$i} {
    word-break: break-all;
    overflow: hidden;
    display: -webkit-box;
    line-clamp: $i;
    -webkit-line-clamp: $i;
    -webkit-box-orient: vertical;
  }
  .double-line-#{$i} {
    word-break: break-all;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $i;
    -webkit-box-orient: vertical;
  }
}
@for $i from 1 through 80 {
  .mt-#{$i} {
    margin-top: #{$i} + px;
  }
  .mr-#{$i} {
    margin-right: #{$i} + px;
  }
  .mb-#{$i} {
    margin-bottom: #{$i} + px;
  }
  .ml-#{$i} {
    margin-left: #{$i} + px;
  }

  .pt-#{$i} {
    padding-top: #{$i} + px;
  }
  .pr-#{$i} {
    padding-right: #{$i} + px;
  }
  .pb-#{$i} {
    padding-bottom: #{$i} + px;
  }
  .pl-#{$i} {
    padding-left: #{$i} + px;
  }

  .fs-#{$i} {
    font-size: #{$i} + px;
  }
  .lh-#{$i} {
    line-height: #{$i} + px;
  }

  .gap-#{$i} {
    gap: #{$i} + px;
  }

  .br-#{$i} {
    border-radius: #{$i} + px;
  }
}
